body {
  text-align: center;
  background-color: azure;
  /* padding-top: 80px; */
}

h1 {
  font-family: Calibri;
}

h2 {
  font-family: Calibri;
  font-size: 28px;
}

h3 {
  font-family: Calibri;
  font-size: 23px;
}

h4 {
  font-family: Calibri;
  font-size: 20px;
}

/* BEGIN PROFILE */

.tekstevi {
  text-align: left;
  background-color: rgb(230, 191, 230);
  padding: 10px;
  border-radius: 12px;
  width: 800px;
  margin-left: 100px;
}

.watzijnmijn {
  top: -250px;
  position: relative;

}

.hobbys {
  text-align: left;
  background-color: rgb(162, 182, 189);
  padding: 10px;
  border-radius: 12px;
  width: 800px;
  margin-left: 400px;
  margin-top: -250px;

}

.foto-hond {
  border-radius: 1px;
  padding: 1px;
  width: 230px;
  /* position: relative; */
  margin-top: -340px;
  margin-left: 930px;
}

.foto-band {
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  position: relative;
  margin-right: 850px;

}

.favobands {
  position: relative;
  right: 400px;
  top: -120px;
}

ul.listbands {
  list-style-type: square;
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  background-color: rgb(163, 204, 194);
  border-radius: 12px;
  padding: 10px;
  font-size: 25px;
  margin-top: -260px;
  margin-right: 800px;
}

.title {
  margin-top: 15px;
  margin-left: 100px;
}

ul.listsocials {
  list-style-type: none;
  background-color: #c4afdc77;
  padding: 10px;
  border-radius: 12px;
  width: 100px;
  font-family: Calibri;
  position: relative;
  top: -100px;
  left: 400px;

}

/* EINDE PROFILE */

/* BEGIN NAVBAR */
nav {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
  font-family: Calibri;
  /* position: fixed; */
  /* z-index: 100000; */
  /* width: 40%; */
  position: sticky;
  top: 10px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: blueviolet;
}

nav ul li a.active {
  color: blueviolet;
  font-weight: bold;
}

/* EINDE NAVBAR */

.tekstjeict {
  text-align: left;
  font-size: 20px;
  width: 700px;
  margin-left: 70px;
  margin-top: -20px;
  background-color: thistle;
  padding: 10px;
  background: linear-gradient(to right, lightblue, plum);
  border-radius: 12px;
}

.foto-graauwrock {
  size: 1px;
  width: 350px;
  float: right;
  margin-right: 6px;
  margin-top: -200px;

}

.foto-boef-evi {
  width: 350px;
  margin-left: -300px;
  margin-top: 20px;
}

.waarom {
  text-align: left;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 40px;
}

/* 
.vraag {
  text-align: left;
  margin-left: 30px;
  margin-top: -5px;
}

.antwoord {
  text-align: left;
  margin-left: 60px;
  margin-top: -20px;
} */



/* BEGIN INDEX */
.watbereiken {
  margin-left: 180px;
  margin-top: -225px;
}

.tekstjeindex2 {
  text-align: left;
  font-size: 20px;
  width: 700px;
  margin-left: 500px;
  margin-top: -20px;
  background-color: thistle;
  padding: 10px;
  background: linear-gradient(to left, lightblue, plum);
  border-radius: 12px;
  /* border: 70px; */
}

.totnutoe {
  margin-top: 40px;
  margin-left: 12px;
}

.tekstjeindex3 {
  text-align: left;
  font-size: 20px;
  width: 700px;
  margin-left: 200px;
  margin-top: -20px;
  background-color: thistle;
  padding: 10px;
  background: linear-gradient(to right, lightblue, plum);
  border-radius: 12px;
  /* border: 70px; */
}

.eigenschap {
  font-size: 25px;
  text-align: left;
  width: 500px;
  margin-left: 100px;
}

ul.listcharacter {
  list-style-type: square;
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  background: linear-gradient(to left, rgb(203, 242, 255), rgb(183, 173, 230));
  border-radius: 12px;
  padding: 10px;
  font-size: 25px;
  margin-top: -20px;
  margin-right: 500px;
}

.latenzien {
  font-size: 20px;
}

.pizza {
  font-size: 18px;
  right: 200px;
  position: relative;
}

.blanck {
  font-size: 18px;
  position: relative;
  top: -162px;
  left: 250px;
  width: 1000px;
}

.linkbutton1 {
  width: 100px;
  cursor: pointer;
  transition: transform 0.2s;
  right: 150px;
  position: relative;
}

.linkbutton1:hover {
  transform: scale(1.05);
}

.linkbutton2 {
  width: 100px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  left: 150px;
  top: -164px;
}

.linkbutton2:hover {
  transform: scale(1.05);
}

/* EINDE INDEX */


/* BEGIN DASHBOARD */
.toetsenopdrachten {
  position: relative;
  margin-top: 50px;
  margin-right: 400px;
}

.dashboardtable {
  position: relative;
  margin-top: 1px;
  margin-bottom: 1000px;
  right: -60px;
  /* top: 100px; */
  font-family: Calibri;
  text-align: center;
  border-style: double;
  border-collapse: separate;
  margin-top: -70px;
}

th,
td {
  /* padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px; */
  padding: 8px 12px;
  border: 1px solid azure;
  border-collapse: collapse;
  background-color: #c3a1e96b;
}

.overigen {
  margin-right: 400px;
  margin-top: -1000px;
  position: relative;
}

.dashboardtable2 {
  position: relative;
  /* margin-top: -100px; */
  margin-bottom: 10px;
  right: -60px;
  top: -20px;
  font-family: Calibri;
  text-align: center;
  border-style: double;
  border-collapse: separate;
  margin-top: -7px;
}

table {
  margin-left: 80px;
  width: 80%;
  transform: scale(0.8);
  font-family: Calibri;
}


tr {
  border-bottom: 1px solid #85b399;
}

/* EINDE DAHSBOARD */

/* BEGIN FAQ */

.faqvraag {
  background: rgba(119, 100, 193, 0.675);
  margin: 20px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 12px;
  width: 700px;

  text-align: left;
}

.faqantwoord {
  background: rgba(165, 148, 234, 0.524);
  text-align: left;
  padding: 10px;
  border-radius: 12px;
  font-weight: 550;
}

/* EINDE FAQ */


/* BEGIN ASIDE MENU */
#menu-toggle {
  display: none;
}

.menu-btn {
  font-family: Calibri;
  font-size: 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  display: inline-block;
  position: fixed;
  top: 62px;
  left: 8px;
}

.asidemenu {
  /* height: 35%; */
  width: 0px;
  position: fixed;
  /* top: 7, 5px; */
  /* left: 2; */
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 12px;
  top: 62px;
}

.asidemenu a {
  display: inline-block;
  margin-inline: 15px;
  margin-top: -10px;
  margin-left: 10px;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Calibri;
  color: white;
  transition: 0.2s;
}

.asidemenu a:hover {
  background-color: #333;
  color: blueviolet;
}

#menu-toggle:checked~.asidemenu {
  width: 160px;
}

/* EINDE ASIDE MENU */

/* BEGIN BLOG */

.swot {
  float: left;
  margin-left: 70px;
  background: #9eceb3;
  width: 500px;
  font-family: Calibri;
  border-radius: 12px;
  padding: 10px;
}

.studychoice {
  float: right;
  margin-right: 70px;
  background: #9eceb3;
  width: 500px;
  font-family: Calibri;
  border-radius: 12px;
  padding: 10px;
}


.programmeer {
  margin-top: 100px;
  float: left;
  margin-left: 70px;
  background: #9eceb3;
  width: 500px;
  font-family: Calibri;
  border-radius: 12px;
  padding: 10px;
}


.feedback {
  margin-top: 100px;
  float: right;
  margin-right: 70px;
  background: #9eceb3;
  width: 500px;
  font-family: Calibri;
  border-radius: 12px;
  padding: 10px;
}

.swcolor {
  color: blueviolet;
}

.sccolor {
  color: blueviolet;
}

.pecolor {
color: blueviolet;
}

.fbcolor {
color: blueviolet;
}


/* EINDE BLOG */